<!-- <h1>Teams#show</h1>
<p>Find me in app/views/teams/show.html.erb</p> -->
<h1><%= @team.name %> </h1>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#description">Team Description</a></li>
  <li><a data-toggle="tab" href="#members">Team Members</a></li>
</ul>


<div class="tab-content">
  <div id="description" class="tab-pane fade in active">
    <ul>
      <li>Description: <%= @team.description %></li>
      <li>Capacity: <%= @team.course.max_members %></li>
      <li>Required Skillset: </li>
    </ul>

  </div>
  <div id="members" class="tab-pane fade">
    <table class="table">
      <tr>
        <th> Name </th>
        <th> Year </th>
        <th> Major </th>
     </tr>
      <%= render partial: "courses/student", collection: @team.students, locals: {current_course: @course, show_team: false, current_team_owner_id: @team.team_owner_id , current_team: true} %>
    </table>
  </div>

</div>
